# Created by .ignore support plugin (hsz.mobi)
.idea/checkstyleidea.tmp/
.idea/workspace.xml
SpringCloud.iml
consumer-user/.mvn/
consumer-user/mvnw
consumer-user/mvnw.cmd
eureka-server/.mvn/
eureka-server/mvnw
eureka-server/mvnw.cmd
provide-ticket/.mvn/
provide-ticket/mvnw
provide-ticket/mvnw.cmd
.idea/codeStyles/
.idea/junitgenerator-prj-settings.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_3_0_RELEASE.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_annotation_3_0_RELEASE.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_boot_starter_3_0_RELEASE.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_core_3_0_RELEASE.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_extension_3_0_RELEASE.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_generator_3_0_RELEASE.xml
.idea/libraries/Maven__com_github_jsqlparser_jsqlparser_1_2.xml
.idea/libraries/Maven__com_google_guava_guava_16_0_1.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_2_7_9.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_46.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_7.xml
.idea/libraries/Maven__org_apache_velocity_velocity_engine_core_2_0.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_4_6.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_2.xml
.idea/libraries/Maven__org_mybatis_spring_boot_mybatis_spring_boot_autoconfigure_1_3_2.xml
.idea/libraries/Maven__org_mybatis_spring_boot_mybatis_spring_boot_starter_1_3_2.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_16_22.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_configuration_processor_2_0_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_0_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_config_client_2_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_config_2_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_5_0_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_0_8_RELEASE.xml
.idea/uiDesigner.xml
igame/.mvn/
igame/mvnw
igame/mvnw.cmd
igame/src/main/java/cn/learn/igame/common/
igame/src/main/java/cn/learn/igame/utils/
microservicecloud-consumer-80/.mvn/
microservicecloud-consumer-80/mvnw
microservicecloud-consumer-80/mvnw.cmd
microservicecloud-consumer-80/src/main/resources/static/
microservicecloud-consumer-80/src/main/resources/templates/
microservicecloud-eureka-7001/.mvn/
microservicecloud-eureka-7001/mvnw
microservicecloud-eureka-7001/mvnw.cmd
microservicecloud-provide-game-8001/.mvn/
microservicecloud-provide-game-8001/mvnw
microservicecloud-provide-game-8001/mvnw.cmd
microservicecloud-provide-game-8002/src/test/
microservicecloud-provide-game-8003/src/test/
.mvn/
mvnw
mvnw.cmd
